<div class="container col-8">
  <div class="">
  <div class="text-center">
    <div class="my-5">
      <h1>RidersCommunitySite</h1>
    </div>
  </div>
  <div class="topver my-5 text-center">
    <h3>
      ここはバイクが好きな人たちのための交流場です<br>
      自身のバイクの写真を投稿したり、掲示板を使って<br>
      ユーザー同士の交流を楽しみましょう!<br>
    </h3>
  </div>
  <% unless user_signed_in? or admin_signed_in? %>
    <div class="row col text-center my-5">
      <div class="col">
        <%= link_to "新規会員登録はこちらから", new_user_registration_path, class: "btn btn-outline-success" %>
      </div>
      <div class="col ">
        <%= link_to "会員ログインはこちらから", new_user_session_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
  <div class="col text-center">
    <%= link_to users_path do %>
      <h4 class="home_c mb-3">ユーザー一覧</h4>
    <% end %>
    <%= link_to posts_path do %>
      <h4 class="home_c mb-3">投稿一覧</h4>
    <% end %>
    <%= link_to chat_rooms_path do %>
      <h4 class="home_c mb-3">掲示板</h4>
    <% end %>
    <%= link_to blogs_path do %>
      <h4 class="home_c mb-3">管理人ブログ</h4>
    <% end %>
    <%= link_to home_about_path do %>
      <h4 class="home_c mb-3">About</h4>
    <% end %>
    <%= link_to new_contact_path do %>
      <h4 class="home_c">お問い合わせ</h4>
    <% end %>
  </div>
  <% else %>
  <div class="col text-center">
    <%= link_to home_about_path do %>
      <h4 class="home_c mb-2">About</h4>
    <% end %>
    <%= link_to new_contact_path do %>
      <h4 class="home_c">お問い合わせ</h4>
    <% end %>
  </div>
  <% end %>
  </div>
</div>
