<div class="container">
  <div class="row my-4">
    <h2 class="col text-center">投稿編集画面</h2>
  </div>
  <%= form_with model: @post, local: true do |f| %>
  <table class="table">
    <tr>
      <th>
        <%= f.label :post_image, "投稿画像" %>
        &emsp;&emsp;<%= image_tag @post.post_image.variant(resize: '146x90') %>
      </th>
      <td><%= f.file_field :post_image %></td>
    </tr>
    <tr>
      <th><%= f.label :title, "タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :text, "説明文" %></th>
      <td><%= f.text_field :text %></td>
    </tr>
  </table>
  <div class="my-5 col text-center">
    <%= f.submit '更新する', class: "btn btn-success" %>
  </div>
  <% end %>
  <div class="my-5 col text-center">
    <%= link_to "マイページ", user_path, class: "mx-4 btn btn-outline-primary" %>
    <%= link_to "投稿詳細にもどる", post_path, class: "btn btn-outline-primary" %>
  </div>
</div>

