<div class="container">
  <div class="row">
    <div class="col-xl-7 col-sm-10 my-5">
      <div class="row mb-3">
        <h2>投稿一覧</h2>
        <%= link_to "新規投稿", new_post_path, class: "btn btn-primary mx-5" %>
      </div>
      <%= render "users/search/search_form" %>
      <% @posts.each do |post| %>
      <div class="utable mb-4 border">
        <div class="row mb-2 ml-1">
          <% if post.user.profile_image.attached? %>
            <%= image_tag post.user.profile_image.variant(resize: '97x60') %>
          <% end %>
          &emsp;投稿者：
          <%= link_to user_path(post.user_id) do %>
            <%= post.user.user_name %>
          <% end %>
        </div>
        <div class="row ml-1">
          <div>
            <%= link_to post_path(post.id) do %>
              <% if post.post_image.attached? %>
                <%= image_tag post.post_image.variant(resize: '324x200') %>
              <% end %>
            <% end %>
          </div>
          <div class="ml-4">
            <div>
              <%= link_to post_path(post.id) do %>
                <h4 class="post_title"><%= post.title %></h4>
              <% end %>
            </div>
            <div class="my-3">
              いいね数：<%= post.likes.count %>
            </div>
            <div>
              コメント数：<%= post.post_comments.count %>
            </div>
            <div>
              タグ：
              <% post.tags.each do |tag| %>
                <span class="badge badge-secondary"><%= tag.name %></span>
              <% end %>
            </div>
            <div class="mt-3">
              投稿日<br>
              <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="col text-center">
        <%= paginate @posts %>
      </div>
    </div>
    <div class="col-xl-4 offset-1 col-sm-8 my-5">
      <%= render "users/users/list", user: @user %>
    </div>
  </div>
</div>