<div>
  <h2>投稿情報</h2>
  <div>
    <%= image_tag @post.post_image %>
  </div>
  <div>
    <%= @post.title %>
    <% if @post.user_id == current_user.id %>
      <%= link_to "編集", edit_post_path %>
      <%= link_to "投稿削除", post_path(@post), method: :delete, "data-confirm" => "本当に消しますか?" %>
    <% end %>
  </div>
  <div>
    <%= @post.text %>
  </div>
  <div>
    いいね：<%= @post.likes.count %>
  </div>
  <div>
    <div>
      <%= render "users/post_comments/post_comments", post: @post, post_comment: @post_comment %>
    </div>
  </div>
  <div>
    <%= form_with model:[@post, @post_comment], method: :post, local: true do |f| %>
      <%= f.label :comment, "コメント投稿" %>
      <%= f.text_area :comment %><br>
      <%= f.submit "投稿" %>
    <% end %>
  </div>
  <div>
    <%= link_to "マイページ", user_path %>
    <%= link_to "ユーザー投稿一覧", posts_path %>
  </div>
</div>
<%= render "users/users/list", user: @user %>
