<div class="container col-9 mt-4 mb-5">
  <div>
    <h2 class="col text-center">管理人ブログ一覧</h2>
    <%# 検索フォーム %>
  </div>
  <% @blogs.each do |blog| %>
  <div class="my-3 col-8 offset-2 text-center">
    <%= link_to blog_path(blog) do %>
    <div>
      <% if blog.blog_image.attached? %>
        <%= image_tag blog.blog_image.variant(resize: '534x330') %>
      <% end %>
    </div>
    <% end %>
    <div class="mt-3 mb-5">
      <%= link_to blog_path(blog) do %>
        <h4><%= blog.title %></h4><br>
      <% end %>
      評価：<!-- 後で追加 --><br>
      コメント数：<%= blog.blog_comments.count %><br>
      <br>
      作成日：<%= blog.created_at.strftime('%Y/%m/%d %H:%M') %>&emsp;
      更新日：<%= blog.updated_at.strftime('%Y/%m/%d %H:%M') %>
    </div>
  </div>
  <% end %>
</div>
