<div class="container col-9 mt-4 mb-5">
  <h2 class="col text-center"><%= @blog.title %></h2>
  <div class="my-3 col-8 offset-2 text-center">
    <div>
      <%= image_tag @blog.blog_image %>
    </div>
    <div class="utable my-4 mx-4">
      <h4 class="mb-4"><%= @blog.text %></h4><br>
      作成日：<%= @blog.created_at.strftime('%Y/%m/%d %H:%M') %>&emsp;
      更新日：<%= @blog.updated_at.strftime('%Y/%m/%d %H:%M') %>
    </div>
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5">
            <div class="card mb-6">
              <header class="card-header">
                評価
              </header>
              <div class="card-content">    
                <div class="content">
                  <div class="content average-score">
                    <div class="star-rating mb-2">
                      <div class="star-rating-front" style="width: <%= (@blog.avg_score/5)*100 %>%;">★★★★★</div>
                      <div class="star-rating-back">★★★★★</div>
                    </div>
                    <div class="average-score-display ml-3 pt-2">
                      <%= @blog.avg_score %>点（<%= @blog.blog_comments.count %>件のレビュー）
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if @blog_comment.errors.any? %>
        <div class="notification is-danger">
          <h2><%= @blog_comment.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @blog_comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
      <%= form_with model:[@blog, @blog_comment], local: true do |f| %>
        <h5><p class="mt-5"><%= f.label :comment, "評価・コメント投稿" %></h5>
        <div class="rating-box mt-3 mb-4">
          <div class="main-rating">
            <div class="ratings mb-3">
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
            </div>
            <div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5</div>
          </div>
          <%= f.hidden_field :blog_id, value: @blog.id %>
          <%= f.hidden_field :evaluation, id: "rating-value" %>
        </div>
        <%= f.text_area :comment, size: "60x5" , :placeholder => "コメントを入力" %><br>
        <div class="my-4">
          <%= f.submit "投稿", class: "btn btn-outline-success" %>
        </div>
      <% end %>
      </div>
    <div class="mb-5 mx-4">
      <%= render "users/blog_comments/blog_comments", blog: @blog, blog_comment: @blog_comment %>
    </div>
    <div class="my-5">
      <%= link_to "管理人ブログ一覧", blogs_path, class: "mx-3 btn btn-outline-primary" %>&emsp;&emsp;
      <%= link_to "評価一覧", blog_blog_comments_path(@blog.id), class: "mx-3 btn btn-outline-success" %>
    </div>
  </div>
</div>


<%= javascript_include_tag "users/blog_comments.js" %>