<% chat_room.chats.each do |chat| %>
<table class="table table-striped">
  <tr>
    <th><%= chat.user.user_name %></th>
    <th>ユーザーID：<%= chat.user.id %></th>
    <th>投稿：<%= chat.created_at.strftime('%Y/%m/%d %H:%M:%S') %></th>
    <th>
      <% if current_user == chat.user %>
        <%= link_to '削除', chat_room_chat_path(chat.chat_room, chat), method: :delete, "data-confirm" => "本当に消しますか?" %>
      <% end %>
    </th>
  </tr>
  <tr>
    <td colspan="4">
      <%= chat.response %>
    </td>
  </tr>
</table>
<% end %>
