<h2>投稿一覧</h2>
<div>
  <% @posts.each do |posts| %>
  <div>
    <%= link_to post_path(@post) do %>
     <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image %>
      <% end %>
      <%= posts.user.user_name %>
    <% end %>
  </div>
  <div>
    <%= posts.title %>
  </div>
  <div>
    コメント数：<%= @post_comments.count %>
  </div>
  <div>
    いいね：<%= render "likes/likes", posts: posts %>
  </div>
  <% end %>
</div>
<div>
  <%= render "users/users/list", user: @user %>
</div>
