<h2>投稿一覧</h2>
<% @posts.each do |posts| %>
<div>
  <div>
    <%= link_to post_path(posts.id) do %>
      <%# if @post.post_image.attached? %>
        <%#= image_tag @post.post_image %>
      <%# end %>
    <% end %>
  </div>
  <div>
    <div>
      <%= posts.title %>
    </div>
    <div>
      コメント数：<%= posts.post_comments.count %>
    </div>
    <div>
      いいね：<%= render "users/likes/likes", posts: posts %>
    </div>
  </div>
</div>
<% end %>
<div>
  <%= render "users/users/list", user: @user %>
</div>
