<h2>投稿一覧</h2>
<% @posts.each do |post| %>
<div>
  <div>
    <%= link_to post_path(post.id) do %>
      <% if post.post_image.attached? %>
        <%= image_tag post.post_image %>
      <% end %>
    <% end %>
  </div>
  <div>
    <div>
      <%= post.title %>
    </div>
    <div>
      コメント数：<%= post.post_comments.count %>
    </div>
    <div>
      いいね：<%= render "users/likes/likes", post: post %>
    </div>
  </div>
</div>
<% end %>
<div>
  <%= render "users/users/list", user: @user %>
</div>
