<p class="mt-4 mb-3">評価・コメント欄</p>
<% blog.blog_comments.each do |blog_comment| %>
<div class="container border mb-4 utable">
  <div class="row">
    <% if blog_comment.user.profile_image.attached? %>
      <%= image_tag blog_comment.user.profile_image.variant(resize: '65x40') %>&emsp;&emsp;
    <% else %>
      <%= image_tag 'no_image.jpg', size: '65x40' %>&emsp;&emsp;
    <% end %>
    <%= blog_comment.user.user_name %>&emsp;&emsp;
    <% if current_user == blog_comment.user %>
      <%= link_to '削除', blog_blog_comment_path(blog_comment.blog_id, blog_comment.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-outline-danger" %>
    <% end %>
  </div>
  <div class="card-content">
    <div class="content">
      <div class="content average-score">
        <div class="star-rating mb-2">
          <div class="star-rating-front" style="width: <%= (blog_comment.evaluation/5)*100 %>%">★★★★★</div>
          <div class="star-rating-back">★★★★★</div>
        </div>
        <div class="average-score-display ml-3 pt-2">
          <%= blog_comment.evaluation %>点
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <%= blog_comment.comment %>
  </div>
</div>
<% end %>