<div class="container col-9">
  <div class="row mx-5 my-4">
    <div class="col-7 my-4 mx-4">
      <%= @user.full_name %>さんの情報編集
      <%= link_to "もどる", admins_user_path(@user), class: "btn btn-primary"  %>
    </div>
    <%= form_with model: @user, url: admins_user_path, local: true do |f| %>
    <table class="table">
      <tr>
        <th><%= f.label :ユーザーID %></th>
        <td colspan="2"><%= @user.id %></td>
      </tr>
      <tr>
        <th><%= f.label :氏名 %></th>
        <td><%= f.text_field :last_name %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <th><%= f.label:フリガナ %></th>
        <td><%= f.text_field :kana_last_name %></td>
        <td><%= f.text_field :kana_first_name %></td>
      </tr>
      <tr>
        <th><%= f.label:ユーザーネーム %></th>
        <td colspan="2"><%= f.text_field :user_name %></td>
      </tr>
      <tr>
        <th><%= f.label:メールアドレス %></th>
        <td colspan="2"><%= f.text_field :email %></td>
      </tr>
      <tr>
        <th><%= f.label:ステータス %></th>
        <td colspan="2">
          <%= f.radio_button :is_deleted, false %>有効
          <%= f.radio_button :is_deleted, true %>退会
        </td>
      </tr>
    </table>
    <div>
      <%= f.submit "保存", class: "btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>