<div class="container col my-5">
  コメント
  <% post.post_comments.each do |post_comment| %>
    <div class="my-3">
      <%= link_to admins_user_path(post_comment.user) do %>
        <div class="my-3">
          <% if post_comment.user.profile_image.attached? %>
            <%= image_tag post_comment.user.profile_image.variant(resize: '70x50') %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: '70x50' %>
          <% end %>
          <%= post_comment.user.user_name %>
        </div>
      <% end %>
      <div class="my-3">
        <%= post_comment.comment %>
        <%= link_to '削除', admins_post_post_comment_path(post_comment.post_id, post_comment.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>