<div>
  <div>
    <div>
      <h2>管理者ブログ一覧</h2>
    </div>
    <div>
      <%= link_to "新規投稿", new_admins_blog_path %>
      <%# 検索フォーム %>
    </div>
  </div>
  <% @blogs.each do |blog| %>
    <%= link_to admins_blog_path(blog.id) do %>
    <div>
      <div>
        <% if blog.blog_image.attached? %>
          <%= image_tag blog.blog_image %>
        <% end %>
      </div>
      <div>
        <%= blog.title %>
      </div>
    </div>
    <% end %>
    <div>
      <%= link_to "編集", edit_admins_blog_path(blog.id) %>|
      <%= link_to "削除", admins_blog_path(blog.id), method: :delete, "data-confirm" => "本当に消しますか?" %>
    </div>
    <div>
      評価:<br>
      コメント数：<%= blog.blog_comments.count %>
    </div>
  <% end %>
</div>
<div>
  <%= render "admins/admin/menu" %>
</div>

