<div class="container">
  <div class="row">
    <div class="col-7 my-5 text-center">
      <h2>ブログ詳細</h2>
      <div>
        <%= image_tag @blog.blog_image %>
      </div>
      <div>
        <%= @blog.title %>
        <%= link_to "編集", edit_admins_blog_path, class: "btn btn-success" %>
        <%= link_to "投稿削除", admins_blog_path(@blog), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-danger" %>
      </div>
      <div>
        <%= @blog.text %>
      </div>
      <div>
        <%#= 評価：%>
      </div>
      <div>
        <%= render "admins/blog_comments/users_comments", blog: @blog, blog_comment: @blog_comment %>
      </div>
      <div>
        <%= link_to "ブログ一覧", admins_blogs_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-4 offset-1 my-5">
      <%= render "admins/admin/menu" %>
    </div>
  </div>
</div>